@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Pixelify+Sans:wght@400..700&display=swap');

:root {
    --dark: #101020;
    --light: #eee;
    --col1: #f2b106;
    --col2: #09fff4;
    --col3: crimson;
    --pop-shadow: 0 0 7px var(--col3), 0 0 7px var(--col2) inset;

}

svg {
    width: 20px;
}

body {
    min-height: 100vh;
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('./imgs/1.webp');
    background-color: var(--light);
    /* animation: backgroundMove 5s infinite alternate; */
}

/* Keyframes for background movement */
@keyframes backgroundMove {
    0% {
        background-position: 0px 0px;
    }

    50% {
        background-position: 10px 10px;
    }

    100% {
        background-position: 0px 0px;
    }
}

.canvas {
    width: 500px;
    height: 670px;
    /* background-color: #2f2f68; */
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    /* background-image: url('./imgs/1.webp'); */
    box-shadow: 0 0 15px 0px #ac7063;
    /* filter: blur(4px); */
    display: grid;
    grid-template-columns: repeat(calc(500/40), 40px);
    grid-template-rows: repeat(calc(670/40), 40px);
}

.player {
    width: 60px;
    height: 55px;
    top: 600px;
    position: absolute;
    background-image: url('./imgs/p0.webp');
    background-size: cover;
    /* will-change: transform; */
}

.bullet {
    width: 8px;
    height: 20px;
    position: absolute;
    background-image: url('./imgs/gmJ+GH.png');
    background-size: cover;
    /* will-change: transform; */

}

.invader-bullet {
    width: 5px;
    height: 15px;
    background-color: var(--col3);
    position: absolute;
    /* will-change: transform; */

}

.enemy {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    position: absolute;
    background: url('./imgs/vecteezy.webp') no-repeat center / cover;
    background: url('./imgs/tile3.png') no-repeat center / cover;
    background-position: -40px 0px;
}

/* ///////////optionsssssss */
.options {
    width: 500px;
    margin: 20px;
    padding: 10px;
    display: flex;
    color: var(--col1);
    font-size: 1.3rem;
    user-select: none;
    filter: blur(4px);
    border-radius: 10px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-around;
    box-shadow: 0 0 15px 0px #ac7063;
    background-color: rgba(196, 60, 200, 0.2);
    font-family: "Jersey 20", sans-serif;
    flex-wrap: wrap;
}

.options p {
    margin: 0;
    display: flex;
}

.options-lives svg {
    transform: scale(1);
    color: var(--col3);
}

.options-lives svg:last-child,
.heartbeat {
    animation-name: scale;
    animation-delay: 1s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin-left: 5px;
    animation-play-state: paused;
}

@keyframes scale {
    0% {
        transform: scale(0.95);
    }

    30% {
        transform: scale(1.1);
        color: #e78195;
        opacity: 0.2;
    }

    60% {
        transform: scale(1.1);
        color: #e78195;
    }

    100% {
        transform: scale(0.95);
        opacity: 1;
    }
}

/* /////////////popups */

.popup {
    z-index: 2;
    width: 350px;
    display: none;
    font-weight: 700;
    user-select: none;
    color: var(--col1);
    position: absolute;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 14px 0;
    text-transform: uppercase;
    border: 2px solid var(--col1);
    box-shadow: var(--pop-shadow);
    font-family: "Jersey 20", sans-serif;
}

.popup h1,
.popup p {
    margin: 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
    text-shadow: 0 3px 0px red, 0 -3px 0px aqua;
}

.popup button {
    width: 90%;
    padding: 10px;
    cursor: pointer;
    margin: 27px 0 0;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--col1);
    border-radius: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid var(--col2);
    background: rgba(71, 60, 200, 0.2);
    text-shadow: 0 2px 0px red, 0 -2px 0px aqua;
    box-shadow: 0 0 7px #d10f36 inset, 0 0 7px 2px var(--col1);
}

label {
    text-shadow: 0 -3px 0px rgb(0, 251, 255), 0 3px 0px rgb(255, 47, 0);
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    margin: 15px;
    padding: 5px;
    
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    border:  yellow double;
    border-width: 0 5px ;
}

.start-popup {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
}

.start-popup h1 {
    margin: 0;
}

.playing .start-popup,
.playing .pause-popup {
    display: none;
}

.playing .canvas,
.playing .options {
    filter: none;
}

/* ///paused */

.paused .pause-popup {
    display: block;
}

.pause-popup .btns {
    display: flex;
    gap: 30px;
}

.paused .canvas,
.paused .options {
    filter: blur(4px);
}


/* ///over */

.over .restart-popup {
    display: block;
}

.over .restart-popup h1:nth-child(1) {
    color: crimson;
}

.over .canvas,
.over .options {
    filter: blur(4px);
}

.win .game-win-popup {
    display: block;
}

.win .canvas,
.win .options {
    filter: blur(4px);
}

.fps {
    display: inline-block;
    width: 25px;
}

@media screen and (max-width:580px) {

    .canvas,
    .options {
        width: 420px;
    }

    .popup {
        width: 220px;
    }

    .popup h1, .popup p {
        font-size: 1.5rem;
    }

    .popup button {
        padding: 5px;
        font-size: 1rem;
        margin-top: 10px;
    }

    .pause-popup .btns {
        flex-direction: column;
        gap: 15px;
    }
}

@media screen and (max-width:380px) {

    .canvas,
    .options {
        width: 90%;
    }

    .popup {
        width: 180px;
    }


    .enimieContainer {
        width: 200px;
    }
}

#mapContainer {
    width: 500px;
    height: 670px;
    position: relative;
    /* Allows absolutely positioned child elements */
    overflow: hidden;
    /* Optional: To hide anything outside the map container */
}

.tile {
    width: 40px;
    height: 40px;
    z-index: -1;
    background-image: url('./imgs/tile3.png');
}

.tile-0 {
    background-position: 0 0;
}

.tile-1 {
    background-position: -32px 0;
}

.tile-2 {
    background-position: -64px 0;
}